*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	height: 100%;

}
:root{
	--blue:#56D9FF;
}

body{
	height: 100%;
	width: 100%;
	background: url('/backgrounds/texture.png'),linear-gradient(#222432 0%, #090910fb 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	color: white;
	font-family: var(--fontMain);
}

button{
	font-family: var(--fontMain);
	border: none;
	background: none;

}


@keyframes speen {
	0%{
		// transform: rotateY(0turn) perspective(200px);
		transform: rotateZ(0turn) perspective(200px);
	}
	100%{
		transform: rotateZ(5turn) perspective(200px);
		// transform: rotateY(1turn) rotateX(.75turn) perspective(200px);
	}
}